.slick-prev, .slick-next {
    font-size: 15px !important;
  }
  
.slick-prev:before, .slick-next:before  {
    content: '' !important;
  }
.slick-arrow{
    top: 20%;
  }

  .subtitle{
    font-family: 'Open Sans', sans-serif;
}

.slick-prev, .slick-next {
  font-size: 15px !important;
}

.slick-prev:before, .slick-next:before  {
  content: '' !important;
}
.slick-arrow{
  top: 20%;
}
.subtitle{
  font-family: 'Open Sans', sans-serif;
}
